/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: #128c7e;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wap-logo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-logo{
    width:40px;
    height:40px;
}

.logo-text{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav-bar{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wap-menu{
    height: 100px;
    display: flex;
}
.wap-menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.wap-menu-items{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}


/* Section 1 */

.section-1{
    width: 700px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.section-1-info{
    width: 50vw;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.section-1-heading{
    font-size: 30px;
}

.section-1-body{
    font-size: 18px;
    line-height: 1.5rem;
}

.data-condition{
    color: rgb(133, 133, 133);
}

.device-options{
    list-style: none;
}

.device-options-available{
    padding-bottom: 30px;
    color: #50c4b6;
    cursor: pointer;
}

.bx{
    padding-right: 5px;
}

.bx1-android, .bx1-apple, .bx-desktop{
    size: 30px;
}

.section-1-photo{
    width: 300px;
    height: 553px;
}

/* Section 2 */

.section-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.section-2-1, .section-2-2{
    width: 49%;
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-1{
    background: #d8e8ea;
}

.heading-section-2{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.section-2-1-segment, .section-2-2-segment{
    text-align: center;
    line-height: 1.5;
}

.wp-b{
    text-decoration: none;
    color:#50c4b6
}

.wp-b:hover{
    text-decoration: underline;
}

.section-2-1-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2-1-image-down{
    width: 370px;
    height: 400px;
}

.section-2-2{
    background: #e7f0e4;
}

.section-2-2-image-up{
    width: 350px;
    height: 400px;
}

.low-head{
    font-size: 18px;
    color: rgb(131, 128, 128);
}

/* Explore Features */

.explore{
    margin: 30px 0;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.explore-feature{
    padding: 15px 50px;
    border-radius: 25px;
    border-style: none;
    border: 1px solid #128c7e;
    font-size: 15px;
    color: #128c7e;
    cursor: pointer;
}

/* WhatsApp-Company-Downloads-Help */


.wp-com-down-help{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color:#273443;
}

.whatsapp-company, .downloads-help{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 10%;
}

.whatsapp, .company, .downloads, .help{
    width: 200px;
    height: 250px;
    justify-content: space-between;
    align-items: baseline;
}

.sub-heading{
    padding: 30px 0px;
    color: #dadada;
    font-weight: 700;
}

.option-choice{
    text-decoration: none;
    color:#dadada;
}

.option-choice:hover{
    text-decoration: underline;
}

/* footer */
.footer{
    width: 100%;
    height: 50px;
    padding: 20px 0;
    background: #1c1e21;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #dadada;
}

.creator a{
    text-decoration: none;
    color: #128c7e;
}

.creator a:hover{
    text-decoration: underline;
}
/* If the screen size is less than 820px */

.if-less-than-820{
    background: #128c7e;
    display: none;
}

.big-photo{
    width: 100px;
    height: 100px;
}

.info-820{
    width: 70%;
    text-align: center;
    font-size: 30px;
    color: #e7f0e4;
}

.footer-820{
    font-weight: 700;
    color: #dadada;
}

.name-820, .full-code-820{
    text-decoration: none;
}

.name-820{
    color: #273443;
}

.full-code-820{
    color:#50c4b6 ;
}

.name-820:hover, .full-code-820:hover{
    text-decoration: underline;
}


/* =====MEDIA QUERIES===== */

/* Media query when screen is less than 1040px */
@media (max-width: 1024px){
    .logo-text{
        display: none;
    }

    .wap-menu-items p{
        display: none;
    }

    .whatsapp-company, .downloads-help{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 10%;
    }
}

/* Media query when screen is less than 820px */
@media (max-width: 819px) {

    *{
        background: #128c7e;
        overflow: hidden;
    }
    .header, .section-1, .section-2, .explore, .wp-com-down-help, .footer{
        display: none;
    }

    .if-less-than-820{
        width: 100%;
        height: 85vh;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
